<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @locale.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @locale.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @locale.state %>
</p>

<p>
  <strong>Street:</strong>
  <%= @locale.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @locale.number %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @locale.zip %>
</p>

<p>
  <strong>Category:</strong>
  <%= @locale.category %>
</p>
<p>
  <strong>Location</strong>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@locale.latitude}%2C#{@locale.longitude}" %>
</p>

<%= link_to 'Edit', edit_locale_path(@locale) %> |
<%= link_to 'Back', locales_path %>
