<header>
  <%= link_to root_path, class: 'logo' do %>
    <%= image_tag 'logo22.png' %>
  <% end %>

  <nav>
    <% if 'logged_in?' %>
      <ul>
        <li>
          <%= 'Aristoteles coutinho '%>
        </li>

        <li>
          <%= 'Sair' %>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= '-- '%>
        </li>

        <li>
          <%= 'Entrar' %>
        </li>
      </ul>
    <% end %>
  </nav>

  <h1><%=' TITULO' %></h1>
</header>
