<header>
  <%= link_to root_path, class: 'logo' do %>
    <%= image_tag 'teste.png' %>
  <% end %>

  <nav>
    <% if  user_signed_in? %>
      <ul>
        <li>
          <%= current_user.username %> |
              <% if current_user.has_role? :admin %>
                <%= 'admin' %> |
              <% end %> 
        </li>
        <li>
          <%= button_to  "Sair", destroy_user_session_path, method: :delete  %>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to "Registrar", new_user_registration_path  %> |
          <%= link_to "Entrar", new_user_session_path  %>
        </li>
      </ul>
    <% end %>
  </nav>

  <h1><%=' Teresina Movel' %></h1>
</header>
