<hr class="featurette-divider">
<div class="row">
	<div class="col-lg-4">
		<%= image_tag 'image1.png' %>
		<h2>Rotas</h2>
		<p>Saiba onde ficam localizadas rampas de acesso e muito mais.</p>
		<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<%= image_tag 'image2'%>
		<h2>Estabelecimento</h2>
		<p>Saiba os estabelecimentos providos de acessibilidade.</p>
		<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<%= image_tag 'image3' %>
		<h2>Seu Direito</h2>
		<p>"A pessoa com deficiência será protegida de toda forma de negligência, discriminação..."</p>
    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div><!-- /.col-lg-4 -->
</div>
<hr class="featurette-divider">
<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Nos ajude. <span class="text-muted">Adicione um local.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'image4.png' %>
        </div>
      </div>
<%= link_to 'Adicione um local', new_user_session_path%>
